<nav
    class="navbar navbar-expand-sm bg-light navbar-light fixed-top"
>
    <div class="container"><a class="navbar-brand" href="#">
        <img src="assets/images/freshcart-logo.svg">
    </a>
  
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul *ngIf="enableNavbar" class="navbar-nav me-auto mt-2 mt-lg-0">
           
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="bg-main" routerLink="home">PRODUCT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="bg-main" routerLink="cart">CART</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="bg-main" routerLink="brands">BRANDS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="bg-main" routerLink="categories">CATEGORIES</a>
            </li>
          
        </ul>

        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
           
            <li class="nav-item">
                <a class="nav-link" ><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="fa-brands fa-tiktok" fa-brands fa-tiktok></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="fa-solid fa-user"></i>{{loggedUserName}}</a>
                
            </li>
            <li routerLink="cart" routerLinkActive="bg-main" class="nav-item">
                <a class="nav-link" >
                    {{numOfCartItems}}
                    <i class="fa-solid fa-shopping-bag"></i></a>
            </li>

            <li routerLink="wishlist" routerLinkActive="bg-main" class="nav-item">
                <a class="nav-link" >
                    <i class="fa-solid fa-hand-holding-heart"></i></a>
            </li>

            <li routerLink="settings" routerLinkActive="bg-main" class="nav-item">
                <a class="nav-link" ><i class="fa-solid fa-cog"></i></a>
            </li>
          
            <li *ngIf="!enableNavbar" class="nav-item">
                <a *ngIf="!enableNavbar" class="nav-link" routerLink="register" routerLinkActive="bg-main">Rigester</a>
            </li>

            <li *ngIf="!enableNavbar" class="nav-item">
                <a  class="nav-link" routerLink="login" routerLinkActive="bg-main">Login</a>
            </li>

            <li *ngIf="enableNavbar" class="nav-item">
                <a (click)="logOut()"  class="nav-link" >Logout</a>
            </li>
        </ul>
       
       
    </div>
</div>
</nav>

