<div class="row gx-0 ">
    <div class="col-md-8 bg-info ">
        <div class="h-100">
            <img src="../../assets/images/slider-image-3.jpeg" class="w-100 h-100" alt="">
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <img src="assets/images/slider-image-1.jpeg" class="w-100" alt="">
        </div>
        <div>
            <img src="assets/images/slider-image-2.jpeg" class="w-100" alt="">
        </div>

    </div>
</div>


<app-slider [categoriesArray]="AllCategories"></app-slider>

<input class="form-control mx-auto my-5 w-25" [(ngModel)]="mySearchWord" placeholder="search....">


<div *ngIf="ProductContainer.length>0 else loading" class="row">
    <div *ngFor="let products of ProductContainer |search :mySearchWord" class="col-md-2">
        <div class="product text-center position-relative p-3">
            <i class="fa-solid fa-heart text-main" [ngStyle]="{'color': isInWishList ? 'red' : 'text-main' }" (click) = "addToWishlist(products._id) "></i>
            <img [src]="products.imageCover" class="w-100" alt="" [routerLink]="['/productdetails' , products._id, products.title]">
            <p class="text-main">{{products.category.name}}</p>
            <!-- <p>{{products._id}}</p> -->
            <h4 class="fs-6">{{products.title|sale}}</h4>
            <div class="d-flex justify-content-between">
                <p>{{products.price|currency:'EGP'}}</p>
                <p>{{products.ratingsAverage}}
                    <i class="fa-solid fa-star rating-color"></i>
                </p>
            </div>
            <button (click)="addToCart(products._id)" class="btn bg-main  text-light w-100">add to cart +</button>
        </div>
    </div>
</div>

<ng-template #loading >

    <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-spinner fa-spin text-main fa-5x"></i>
    </div>
</ng-template> 